<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499532072600-jkodoagr4ds4fdj34lcnfq91vfs9ckrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499532072600-jkodoagr4ds4fdj34lcnfq91vfs9ckrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBYQcZU0HNp_PECcFopxEZaNfVASW785dM</string>
	<key>GCM_SENDER_ID</key>
	<string>499532072600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.school42.musicroom</string>
	<key>PROJECT_ID</key>
	<string>musicroom-e2706</string>
	<key>STORAGE_BUCKET</key>
	<string>musicroom-e2706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499532072600:ios:4e8320503a8682e8b8b2ed</string>
	<key>DATABASE_URL</key>
	<string>https://musicroom-e2706-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>